[submodule "mobile"]
	path = mobile
	url = https://github.com/felipevlima/GymPoint-Mobile.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/felipevlima/GymPoint-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/felipevlima/GymPoint-Backend.git
